/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight:inherit;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: inherit;
  font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  scroll-behavior: smooth;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  background-color:var(--quantertary-color);
}

/* Colors */
:root{
  --primary-color:rgb(26, 18, 11);
  --secondary-color:rgb(60, 42, 33);
  --tertiary-color:rgb(213, 206, 163);
  --quantertary-color:rgb(229, 229, 203);

  --primary-contrast-color:	rgb(79,111,82);
  --secondary-contrast-color:	rgb(115,144,114);
  --tertiary-contrast-color:	rgb(134,167,137);
  --quantertary-contrast-color:	rgb(210,227,200);
}




/* Elements */

h4{
  font-size: 4.5rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1%;
}


/* Navbar */
.navbar{
  background-color: var(--quantertary-color);
}
.navbar-brand{
  position: relative;
  left: 20px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.nav-link:hover{
  color: var(--primary-contrast-color);
}


/* Form */
#form{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  flex-direction: column;
}
@media screen and (max-height:705px) {
  #form{
    padding-top: 100px;
  }
}
@media screen and (max-height:620px) {
  #form{
    padding-top: 150px;
  }
}
@media screen and (max-height:560px) {
  #form{
    padding-top: 200px;
  }
}
@media screen and (max-height:510px) {
  #form{
    padding-top: 250px;
  }
}
@media screen and (max-width:767.98px) {
  #form{
    padding-top: 150px;
  }
}
@media screen and (max-width:524.98px) {
  #form{
    padding-top: 300px;
    min-height: fit-content;
    position: relative;
  }
}


.formTitle{
  text-align: center;
  color: var(--primary-color);
}
.form-control{
  height: 50px;
  background-color: var(--quantertary-color);
  border: 2.2px solid var(--primary-contrast-color);
  border-radius: 0px;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--quantertary-color);
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: none;
}
.message{
  height: 100px;
  width: 100%;
}
label{
  color: var(--primary-color);
}
.formSubmit{
  background-color: var(--quantertary-contrast-color);
  border: 2.2px solid var(--primary-contrast-color);
  font-size: 1.4rem;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  color: var(--primary-contrast-color);
  padding-bottom: 5px;

  transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
.formSubmit:hover{
  background-color: var(--primary-contrast-color);
  color: var(--quantertary-color);
}

.circlesContact{
  position: absolute;
  top: 30px;
  left: -50px;
  z-index: -10;
}
@media screen and (max-width:400px) {
  .circlesContact{
    scale: 0.9;
  }
}