/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight:inherit;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: inherit;
  font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  scroll-behavior: smooth;
  user-select: none;
  background-color:var(--quantertary-color);
}

/* Colors */
:root{
  --primary-color:rgb(26, 18, 11);
  --secondary-color:rgb(60, 42, 33);
  --tertiary-color:rgb(213, 206, 163);
  --quantertary-color:rgb(229, 229, 203);

  --primary-contrast-color:	rgb(79,111,82);
  --secondary-contrast-color:	rgb(115,144,114);
  --tertiary-contrast-color:	rgb(134,167,137);
  --quantertary-contrast-color:	rgb(210,227,200);
}




/* Elements */
h1{
  font-size: 10rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2%;
}
h2{
  font-size: 8rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1.5%;
}
h3{
  font-size: 6rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -1%;
}
h4{
  font-size: 4rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1%;
}
h5{
  font-size: 3rem;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.8%;
}

p{
  font-size: 2rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}
.p2{
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
  font-weight:light;
}
line{
  color: var(--primary-contrast-color);
}













/* Navbar */
.navbar{
  background-color: var(--quantertary-color);
}
.navbar-brand{
  position: relative;
  left: 20px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.nav-link:hover{
  color: var(--primary-contrast-color);
}

.navbar-button{
  border: 3px solid var(--primary-contrast-color);
  border-radius: 0px;
  color: var(--primary-contrast-color);
  background-color:transparent;

  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;

  padding: 4px;

  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}
.navbar-button:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}


.fadeIn{
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s 0s, opacity 0.1s 0.2s linear;
}
.fadeOut{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s 0s, opacity 0.1s 0.2s linear;
}















/* Hero */
.heroContainer{
  position: relative;
  height: 110vh;
  width: 100%;
}
.heroPic{
  position: absolute;
  width: 60vw;
  height: 70vh;
  object-fit: cover;
  object-position: center;

  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: -1;

  box-shadow: 10px 10px 0px var();

  filter: invert();
}

.heroTitle{
  position: absolute;

  color: var(--primary-color);

  text-align: center;

  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 13vh;

  z-index: 1;
}

.colorInverter{
  height: 70vh;
  width: 60vw;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;

  background-color: white;

  mix-blend-mode: difference;
}

.goDown{
  position: absolute;
  bottom: calc(25px + 10vh);
  right: 25px;

  border-radius: 50%;

  width: 90px;
  height: 90px;
  background-color: var(--primary-color);

  background-image: url(/design/goDown.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  transition: background-color 0.2s;
}
.goDown:hover{
  background-color: var(--secondary-color);
  transition: background-color 0.2s;
}
.goDown:active{
  background-color:var(--tertiary-color);
  transition: background-color 0.2s;
}
@media screen and (max-width:620px) {
  .goDown{
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .heroPic{
    width: 90vw;
  }
  .colorInverter{
    width: 90vw;
  }
}














/* Vertical Lines */
.verticalLine{
  height: 40vh;
  width: 0px;
  border: 1px solid var(--primary-color);
}
.linesRow{
  margin-top: 150px;
  margin-left: 50%;
  transform: translateX(-50%);
}















/* About */
#about{
  margin-top: 150px;
  background-color: var(--secondary-contrast-color);
  padding-top: 20px;
  padding-bottom: 20px;
}
.aboutRow{
  height: 100vh;
}

.aboutText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.aboutTitle{
  text-align: center;
  color: var(--primary-color);
}
.aboutSubtitle{
  text-align: center;
  color: rgb(26, 18, 11,0.9);
}
.aboutImage{
  width: 100% ;
  height: 100%;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  object-position: center;

  box-shadow: -10px -10px 0px var(--primary-contrast-color);
}

@media screen and (max-width: 991.8px) {
  .aboutRow{
    height: fit-content; 
  }
  .aboutText{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  .aboutImage{
    width: 700px;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 781px) {
  .aboutImage{
    width: 85%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}












/* Services */
#services{
  margin-top: 150px;
  position: relative;
}
.servicesTitle{
  color: var(--primary-color);
  text-align: center;
}
.servicesText{
  color: rgb(26, 18, 11,0.9);
  text-align: center;
}











/* Works */
#works{
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.worksImage{
  width: 1vw;
  height: auto;
  object-fit: cover;
  object-position: center;

  animation: grow linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes grow{
  from{
    width: 1vw;
  }
  to{
    width: 100%;
  }
}